body{
    background-color: olive;
    background-image: url("../images/psycho.png");
    width:100%;
    margin-top:0px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:black;
}

.header{
    background-color: rgb(82, 105, 45);
    width: 100%;
    position:fixed;
    top:0px;
    left:0px;
    min-height:50px;
    word-spacing: 1.8em;
    font-size: 18px;
    line-height: 1em;
}
.button{
    background-color: rgb(128, 115, 1);
    border-radius: 2px;
    padding:6px;
}
h2{
    margin-top: 40px;
    text-align: center;
    padding:10px;
}
h3{
    padding-left:20px;
}
h4{
    text-align: center;
    padding:10px;
    word-spacing: 1em;
}
.container{
    margin:auto;
    width:85%;
}
.box-1{
    background-color: rgb(230, 230, 88);
    color:rgb(66, 66, 66);
    border-radius: 10px;
    margin-top:100px;
    margin-bottom:80px;
    padding: 20px;
}
.box-2{
    background-color: rgb(230, 230, 88);
    color:rgb(66, 66, 66);
    border-radius: 10px;
    margin-top:40px;
    margin-bottom:80px;
    padding: 20px;
}
.para{
    line-height: 1.8em;
    font-size: 18px;
    padding-right:30px;
    padding-left:30px;
    padding-top:10px;
    padding-bottom: 10px;
}
.parag{
    line-height: 1.8em;
    font-size: 18px;
    padding-right:30px;
    padding-left:30px;
    padding-top:10px;
    padding-bottom: 40px;
    scroll-margin-bottom: 80px;;
}
blockquote{
    color:rgb(134, 133, 133);
    padding-bottom: 40px;
}

.mainfooter{
    background-color: rgb(60, 75, 35, 0.9);
    color:white;
    height:40px;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    text-align: center;
    line-height: 0.8em;
}